{% extends 'base.html' %}

{% load static %}

{% block content %}

    <h1 class="text-center">Fakultas Keguruan dan Ilmu Pendidikan</h1>

    <p>Fakultas Keguruan dan Ilmu Pendidikan terdiri dari 18 Program Studi, diantaranya:</p>
    <h2>
    <p> 1. Jurusan Pendidikan Nonformal</p>
    <p> 2. Jurusan Pendidikan Bahasa Indonesia</p>
    <p> 3. Jurusan Pendidikan Bahasa Inggris</p>
    <p> 4. Jurusan Pendidikan Biologi</p>
    <p> 5. Jurusan Pendidikan Matematika</p>
    <p> 6. Jurusan Pendidikan Guru Sekolah Dasar</p>
    <p> 7. Jurusan Pendidikan Guru PAUD</p>
    <p> 8. Jurusan Bimbingan dan Konseling</p>
    <p> 9. Jurusan Pendidikan Fisika</p>
    <p> 10. Jurusan Pendidikan Ilmu Pengetahuan Alam</p>
    <p> 11. Jurusan Pendidikan Kimia</p>
    <p> 12. Jurusan Pendidikan Khusus</p>
    <p> 13. Jurusan Pendidikan Pancasila dan Kewarganegaraan</p>
    <p> 14. Jurusan Pendidikan Sejarah</p>
    <p> 15. Jurusan Pendidikan Seni dan Pertunjukan</p>
    <p> 16. Jurusan Pendidikan Sosiologi</p>
    <p> 17. Jurusan Pendidikan Vokasional Teknik Elektro</p>
    <p> 18. Jurusan Pendidikan Vokasional Teknik Mesin</p>
    </h2>

{% endblock %}