{% extends 'base.html' %}

{% load static %}

{% block content %}

<h2 style="margin: 15px;text-align:center;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman'margin-top: 60px; margin-left: 50px; margin-right: 50px">Fakultas Keguruan dan Ilmu Pendidikan

    <br>
  </h2>
    <p style="margin-left: 50px; margin-right: 50px; margin-top:5px; margin-bottom:8px; font-family:Arial, Helvetica, sans-serif; text-align:justify"> Fakultas Keguruan dan Ilmu Pendidikan (FKIP) juga termasuk dari tiga fakultas tertua di Untirta. Pertama kali berdiri tahun 1981 dengan nama Sekolah Tinggi Keguruan dan Ilmu Pendidikan (STKIP). Sama halnya dengan fakultas tertua lainnya, fakultas ini berubah nama di tahun 1984 seiring dengan pembentukan Untirta. Fun fact tentang fakultas ini ialah FKIP merupakan fakultas dengan program studi terbanyak di Untirta.
   
   <br>
   <br>
   Program Studi Fakultas Keguruan dan Ilmu Pendidikan
   <ol type="1" style="margin-left: 75px; margin-right: 50px; margin-top:5px; margin-bottom:8px; font-family:Arial, Helvetica, sans-serif; text-align:justify">
     <li>Pendidikan Guru Sekolah Dasar</li><li>
       Pendidikan Matematika</li><li>
       Pendidikan IPA</li><li>
       Pendidikan Khusus</li><li>
       Pendidikan Seni dan Pertunjukan</li><li>
       Pendidikan Guru Pendidikan Anak Usia Dini</li><li>
       Pendidikan Sejarah</li><li>
       Pendidikan Kimia</li><li>
       Pendidikan Fisika</li><li>
       Pendidikan Sosiologi</li><li>
       Pendidikan Vokasional Teknik Mesin</li><li>
       Pendidikan Non Formal</li><li>
       Bimbingan dan Konseling</li><li>
       Pendidikan Pancasila dan Kewarganegaraan</li><li>
       Pendidikan Vokasional Teknik Elektro</li><li>
       Pendidikan Biologi</li>
       <li>Pendidikan Bahasa Indonesia </li>
       <li>Pendidikan Bahasa Inggris </li>

       </ol>
 </p>

{% endblock %}