{% extends 'base.html' %}

{% load static %}

{% block content %}

<h2 style="margin: 15px;text-align:center;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman'margin-top: 60px; margin-left: 50px; margin-right: 50px" id="">Fakultas Hukum

    <br>
  </h2>
    <p style="margin-left: 50px; margin-right: 50px; margin-top:5px; margin-bottom:8px; font-family:Arial, Helvetica, sans-serif; text-align:justify"> Fakultas Hukum Untirta pertama kali berdiri pada 1 Oktober 1981 dengan nama Sekolah Tinggi Ilmu Hukum (STIH) di bawah naungan Yayasan Pendidikan Tirtayasa Banten (YPTB). Pada tahun 1984, STIH menjadi Fakultas Hukum Untirta yang juga merupakan salah satu fakultas pertama pondasi berdirinya Untirta. Dapat dikatakan, Fakultas Hukum merupakan salah satu dari tiga fakultas tertua di Untirta.
   
   <br>
   <br>
   Program Studi Fakultas Hukum
   <ol type="1" style="margin-left: 75px; margin-right: 50px; margin-top:5px; margin-bottom:8px; font-family:Arial, Helvetica, sans-serif; text-align:justify">
     <li>Ilmu Hukum</li>
   </ol>
 </p>
 
{% endblock %}