{% extends 'base.html' %}

{% load static %}

{% block content %}

<h2 style="margin: 15px;text-align:center;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman'margin-top: 60px; margin-left: 50px; margin-right: 50px" id="">Fakultas Ekonomi dan Bisnis

    <br>
  </h2>
    <p style="margin-left: 50px; margin-right: 50px; margin-top:5px; margin-bottom:8px; font-family:Arial, Helvetica, sans-serif; text-align:justify"> Fakultas Ekonomi dan Bisnis merupakan fakultas favorit di Untirta. Sebab, program studi manajemen selalu menjadi program studi yang paling diminati. Buktinya, pada tahun 2019/2020 jumlah mahasiswa baru FEB Untirta mencapai 551 orang yang mana jumlah ini menjadi peringkat ketiga fakultas yang memiliki jumlah mahasiswa terbanyak setelah FKIP dan FT.
   
   <br>
   <br>
   Program Studi Fakultas Ekonomi dan Bisnis :
   <ol type ="1" style="margin-left: 75px; margin-right: 50px; margin-top:5px; margin-bottom:8px; font-family:Arial, Helvetica, sans-serif; text-align:justify">
     <li>Ekonomi Pembangunan</li>
     <li>Akuntansi</li>
     <li>Manajemen</li>
     <li>Ekonomi Syariah</li>
   </ol>
 </p>

{% endblock %}