{% extends 'base.html' %}

{% load static %}

{% block content %}

    <h1 class="text-center">Fakultas Ekonomi dan Bisnis</h1>

    <p>Fakultas Ekonomi dan Bisnis terdiri dari 8 Program Studi, diantaranya:</p>
    <h2>
    <p> 1. Program Sarjana Managemen </p>
    <p> 2. Program Sarjana Akuntansi</p>
    <p> 3. Program Sarjana Ilmu Ekonomi Pembangunan</p>
    <p> 4. Program Sarjana Ekonomi Syariah</p>
    <p> 5. Program Diploma III Akuntansi</p>
    <p> 6. Program Diploma III Marketing</p>
    <p> 7. Program Diploma III Perpajakan</p>
    <p> 8. Program Diploma III Keuangan Perbankan</p>
    </h2>

{% endblock %}