{% extends 'base.html' %}

{% load static %}

{% block content %}

<h2 style="margin: 15px;text-align:center;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman'margin-top: 60px; margin-left: 50px; margin-right: 50px" id="">Fakultas Kedokteran

    <br>
  </h2>
<p style="margin-left: 50px; margin-right: 50px; margin-top:5px; margin-bottom:8px; font-family:Arial, Helvetica, sans-serif; text-align:justify">FK Untirta baru diresmikan pada tahun 2019 melalui SK Menteri Riset Teknologi dan Pendidikan Tinggi Republik Indonesia Nomor 283/KPT/I/2019. Fakultas ini menyediakan 5 jurusan dengan mengusung strategi untuk mendukung program kesehatan di provinsi Banten. FK Untirta juga mempertimbangkan posisi strategis Banten dan memperhatikan banyaknya kawasan industri yang tersebar di Banten. Oleh sebab itu, Kedokteran Kerja (Okupasi) dijadikan keunggulan dari jurusan Kedokteran fakultas ini.
    
    <br>
    <br>
  Program Studi Fakultas Kedokteran
    <ol type="1" style="margin-left: 75px; margin-right: 50px; margin-top:5px; margin-bottom:8px; font-family:Arial, Helvetica, sans-serif; text-align:justify">
      <li>Ilmu Keolahragaan</li>
      <li>Ilmu Gizi</li>
      <li>Ilmu Kedokteran</li>
      <li>Keperawatan</li>
    </ol>
  </p>

{% endblock %}