{% extends 'base.html' %}

{% load static %}

{% block content %}

<h2 style="margin: 15px;text-align:center;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman'margin-top: 60px; margin-left: 50px; margin-right: 50px" >Fakultas Ilmu Sosial dan Politik

    <br><br>
    <img src="https://cdn.antaranews.com/cache/800x533/2020/11/24/IMG-20201124-WA0052.jpg" style="position:relative; margin: auto; width: 500px">
  </h2>
    <p style="margin-left: 50px; margin-right: 50px; margin-top:5px; margin-bottom:8px; font-family:Arial, Helvetica, sans-serif; text-align:justify"> 
   Program Studi Fakultas Ilmu Sosial dan Politik
   <ol type="1" style="margin-left: 75px; margin-right: 50px; margin-top:5px; margin-bottom:8px; font-family:Arial, Helvetica, sans-serif; text-align:justify">
     <li>Ilmu Pemerintahan</li>
     <li>Administrasi Publik</li>
     <li>Ilmu Komunikasi</li>
   </ul>
 </p>

{% endblock %}